body {
	padding:0;
	margin:0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

#topNavigation {
	background-color: #ddd;
	padding: 10px;
	text-align:center;
}

#contentContainer {
	width: 98%;
	height: 400px;
	padding: 10px;
}

#chartCanvas {
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid black;
}

.activated {
	color: red;
}

nav {
	display: inline;
}

/* Großer Bildschirm */
@media (min-width: 1281px) {
	#contentContainer {
		width: 1000px;
		height: 400px;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
		background-color: red;
	}
}

/* iPad längs */
@media (min-width: 769px) and (max-width: 1280px) {
	#contentContainer {
		background-color: blue;
	}
}

/* iPad hochkant */
@media (max-width: 768px) {
	#contentContainer {
		background-color: green;
	}
}