body {
    padding-top: 0px;
    padding-bottom: 0px;
	padding-left: 0px;
    padding-right: 0px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

h1 {
	font-size: 30px;
}

#topNavigation {
	background-color: #ddd;
	padding: 10px;
	text-align:center;
}

#fabianContainer {
	width: 98%;
	height: 400px;
	padding: 10px;
}

#demoCanvas {
	width: 100%;
	height: 100%;
	display: block;
	border: 1px solid black;
}

.activated {
	color: red;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
	#fabianContainer {
		width: 1000px;
		height: 400px;
		padding: 10px;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Desktop
------------------------- */
@media (max-width: 980px) {
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
}